
  $headerHeight:180px;
  .header {
    display:flex; 
    height: $headerHeight;
    background-color:#C6A280;
    width:100%;
    font-family:MyFont;
    font-size:30px;
    font-weight: bold;
    box-shadow: 0 0 10px black;
  }

  .header * {
    margin:auto; 
    text-decoration: none;
    color:black; 
    text-align:center;
  
  }
  
  .header .logo {
    height :100px;
  }
  
  .header p {
    padding:5px;
    padding-left:10px;
    padding-right:10px;
  }
  
  .header p:hover {
    background-color:#56382eb4;
    border-radius:5px;
    animation-name:b1;
    animation-duration:0.5s;
  }
.header a:nth-child(2) {
    margin-left:auto;
    margin-right:20px;
}

.header p:hover {
    background-color:#56382E;
    border-radius:5px;
    animation-name:b1;
    animation-duration:0.5s;
}
  @keyframes b1 {
    0%{
        background-color:#ffffff00;
    }
  
    100%{
        background-color:#56382eb4;
    }
  }
  
  .search {
    display: flex;
    margin:auto;
  }
  
  .search input {
    width : 300px;
    text-align:left;
    padding:10px;
    padding-left:10px;
    padding-right:10px;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 60px;
    background-color:$itemback;
    color:black;
  }
  .search button img {
    height: 30px;
    margin :20px;
    margin: 0;
    padding: 0;
  }
  .search button {
    background-color:transparent;
    border: none;
    height:30px;
    margin :20px;
    text-align:center;

  }
  #iconCo{
    
    padding: 10px;
    cursor: pointer;
  }
  #user {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    text-align:center;
    margin-top: 20px;
    width: 30%;
  }
  #menuUser {
    background-color:$menu;
    border-radius:10px;
    display:none;
    position:absolute;
    font-size: 20px;
    text-align:center;
    top:150px;
    width:12%;
    
  }
  #menuUser ul {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
  }
  #menuUser ul li {
    display: block;
  }
  
  .side {
    display: inherit;
    width: 40%;
  }