.containerFiche{
    margin:auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    margin-top: 70px;
    
}
.containerFiche img{
    width:600px;

}

.leftFiche {
    padding: 0;
    margin: 0;
    width: -200px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: stretch;
    width: min-content;
    margin-right:50px;

}
.leftFiche h1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: flex-start;
    flex-wrap: nowrap;
    text-align: left;
    width: fit-content;
    margin-right: -200px;
    margin: 0;
    

}
.rightFiche {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: flex-start;
    flex-wrap: nowrap;
    align-items: left;
    margin-top:60px;
    margin-left:50px;
    
}

.Reserver {
    background-color:$button; 
    padding:25px 50px 25px 50px;
    color:white;
    border: none;
    text-align: center;
    cursor:pointer;
    width:150px;
    margin: auto;
    margin-top:100px;
    font-size:2em;
}

.Caract {
    background-color:$itemback;
    width:100%;
    margin:0;
    width: 300px;
    padding: 30px;
    height: 300px;
}

.Descr {
    background-color:$itemback;
    margin:0;
    width: 540px;
    height:100px;
    padding: 30px;
    justify-content: center;
}